@model AplicacionWeb.Models.ComentariosCliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComentariosCliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programas.Nombre_Programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programas.Nombre_Programa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Comentario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
